*{
  text-decoration: none;
  padding:0;
  margin:0;
}
body{
  margin: 0 20%;
  background-color: #fff;
  /* box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%); */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  min-height: 100vh;
  padding: 0 20px;
}

nav{
  border-bottom: 1px solid #ccc;
  height: 40px;
  width: 15%;
  margin-bottom: 15px;

  /* flexboxを使った上下中央 */
  display: flex;
  justify-content: space-around; 
  align-items: center;
}


footer{
  position: absolute;
  bottom: 0;
}

table{
  border-collapse: collapse;
  margin-top: 20px;
}
table th, table td {
  border: solid 1px #000;
  padding: 5px 10px;
  text-align: center;
}
table th{
  color: #0051ff;
  background: #e5ebff;
}
